---
import { SITE } from '@/config';
import HeaderLink from './HeaderLink.astro';
import Search from './Search.astro';

const { blogPage, twitterId, githubId } = SITE;
---

<div class="flex-grow text-right md:mr-1 -mr-1">
  <Search />
  <HeaderLink href={`https://www.getemoji.link/`} target="_blank">getemoji</HeaderLink>
  <HeaderLink href="/daily_article" target="_self">kubernetes学习笔记</HeaderLink> <!-- 新增的链接 -->
  <HeaderLink href="/interviews" target="_self">面试必备</HeaderLink> <!-- 新增的链接 -->
  <HeaderLink href={blogPage} target="_blank">Blog</HeaderLink>
  <HeaderLink href={`https://copyandpaste.herotops.xyz`} target="_blank">copyandpaste</HeaderLink>
  <HeaderLink href={`https://github.com/${githubId}`} target="_blank" class="lg:inline-block hidden">GitHub</HeaderLink>
  <HeaderLink href="/rss.xml" target="_blank" class="lg:inline-block hidden">RSS</HeaderLink>
</div>
